@media (min-width: 400px) {
  main {
    margin: 5px;
  }
}

@media (max-width: 749px) {
  nav {
    min-width: 140px;
    max-width: 180px;
    margin: 20px auto;
    padding: 10px;
  }

  main article .entry {
    margin: 0;
  }

  main img {
    max-width: 100%;
  }
}

@media (min-width: 750px) {
  #line1 {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 10px;
    width: 3px;
  }

  #line2 {
    position: fixed;
    top: 100px;
    bottom: -5px;
    left: 15px;
    width: 2px;
  }

  #line3 {
    position: fixed;
    width: 200px;
    left: 0;
    bottom: 10px;
    height: 3px;
  }

  nav {
    position: fixed;
    width: 140px;
    left: 20px;
    bottom: 40px;

    margin: 20px 30px 0px 10px;
    padding: 10px;
  }

  main {
    margin: 30px;
    margin-left: 210px;
  }

  main article .entry {
    margin: 0 30px;
  }

  main img {
    margin: 10px;
  }
}

#line1 {
  background-color: #c0c0c0;
}

#line2 {
  background-color: #18d4f5;
}

#line3 {
  background-color: #c0c0c0;
}

header {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0;
  padding: 0;
}

nav {
  font-family: monospace;
  border: 2px solid #18d4f5;
  text-align: right;
}

nav a {
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  font-size: 110%;
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

nav .home {
  font-size: 120%;
  letter-spacing: 1px;
  border-bottom: 2px solid #c0c0c0;
  color: #505050;
  cursor: default;
  margin-bottom: 12px;
}

nav .home a {
  padding-bottom: 3px;
}

nav .home a:hover {
  color: #18d4f5;
}

footer {
  margin: 10px;
  font-family: monospace;
  text-align: right;
  color: #a0a0a0;
}

footer a {
  color: #a0a0a0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


main {
  max-width: 620px;
  font-family: sans-serif;
}

main a {
  color: #505050;
}

main a:hover {
  color: #18d4f5;
}

article,
.section {
  margin: 30px 0;
}

a {
  color: black;
}

a:hover {
  color: #18d4f5;
  text-decoration: none;
}

a img {
  border: 2px solid white;
}

a:hover img {
  border: 2px solid #18d4f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  color: #505050;
}

h1 {
  font-weight: bold;
  border-bottom: 2px solid #18d4f5;
  margin: 15px 0 10px 0;
  clear: both;
}

h2 {
  font-weight: bold;
  border-bottom: 2px solid #18d4f5;
  margin: 15px 0 10px 0;
  clear: both;
}

h3 {
  margin: 15px 0 10px 0;
}

h4 {
  font-size: 120%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

main h1 {
  font-size: 180%;
}

hr {
  border: 0;
  color: #c0c0c0;
  background-color: #c0c0c0;
  height: 2px;
  width: 85%;
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin: 10px 0 10px 0;
}

code {
  color: #505050;
  padding: 0 5px 0 5px;
}

pre code {
  padding: 0;
}

pre {
  padding: 5px;
  margin: 5px;
  border: 1px dashed black;
  clear: both;
  overflow-x: auto;
}

blockquote {
  padding: 10px;
  background-color: #eee;
  font-style: italic;
}

time {
  font-family: monospace;
  font-size: 80%;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #c0c0c0;
  padding: 1ex;
}

.center {
  text-align: center;
}
