/* Page */

#line1 {
  background-color: #c0c0c0;
}

#line2 {
  background-color: #18d4f5;
}

#line3 {
  background-color: #c0c0c0;
}

/* Menu */

#menu {
  font-family: monospace;
  border: 2px solid #18d4f5;
  text-align: right;
}

#menu a {
  text-decoration: none;
}

div#menu ul li {
  font-size: 110%;
  list-style-type: none;
}

div#menu .home {
  font-size: 120%;
  letter-spacing: 1px;
  border-bottom: 2px solid #c0c0c0;
  color: #505050;
  cursor: default;
}

div#menu .home a:hover {
  color: #18d4f5;
}

/* Header */

#header {
  font-family: monospace;
  font-weight: bold;
  border-bottom: 2px solid #18d4f5;
  color: #505050;
}

#header a {
  text-decoration: none;
}

/* Footer */

#footer {
  font-family: monospace;
  text-align: right;
  color: #a0a0a0;
}

#footer a {
  color: #a0a0a0;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* Content */

#content {
  font-family: sans-serif;
}

#content a {
  color: #505050;
}

#content a:hover {
  color: #18d4f5;
}

/* Tags */

a {
  color: black;
}

a:hover {
  color: #18d4f5;
  text-decoration: none;
}

a img {
  border: 2px solid white;
}

a:hover img {
  border: 2px solid #18d4f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: monospace;
  color: #505050;
}

h1 {
  font-weight: bold;
  border-bottom: 2px solid #18d4f5;
  margin: 15px 0 10px 0;
  clear: both;
}

h2 {
  font-weight: bold;
  border-bottom: 2px solid #18d4f5;
  margin: 15px 0 10px 0;
  clear: both;
}

h3 {
  margin: 15px 0 10px 0;
}

h4 {
  font-size: 120%;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

#content h1 {
  font-size: 180%;
}

hr {
  border: 0;
  color: #c0c0c0;
  background-color: #c0c0c0;
  height: 2px;
  width: 85%;
  margin-top: 12px;
  margin-bottom: 12px;
}

p {
  margin: 10px 0 10px 0;
}

code {
  color: #505050;
  padding: 0 5px 0 5px;
}

pre code {
  padding: 0;
}

pre {
  padding: 5px;
  margin: 5px;
  border: 1px dashed black;
  clear: both;
  overflow-x: auto;
}

blockquote {
  padding: 10px;
  background-color: #eee;
  font-style: italic;
}

/* Classes */

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.small {
  font-family: monospace;
  font-size: 80%;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #c0c0c0;
  padding: 1ex;
}
