% for article in articles:
<article>
  <h1><a href="${URL_PREFIX}/blog/${article['slug']}/">${article['title']}</a></h1>
  <time datetime="${article['date']}">${article['date']}</time>
  % if article['tags']:
    |
    % for tag in article['tags']:
      <a href="${URL_PREFIX}/blog/+${tag}" class="small">${tag}</a>
    % endfor
  % endif
  <div class="entry">
  % if 'summary' in article:
    ${article['summary']}
    <p><a href="${URL_PREFIX}/blog/${article['slug']}/">Continue reading full article</a></p>
  % else:
    ${article['blurb']}
  % endif
  </div>
</article>
% endfor
