<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="${VAR_URL_PREFIX}/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="${VAR_URL_PREFIX}/css/style.css" />
    <link rel="alternate"  type="application/rss+xml" href="${URL_PREFIX}/blog/rss.xml" title="Blog RSS Feed" />
    <title>ongardie.net</title>
  </head>

  <body>

    <div id="line1"></div>
    <div id="line2"></div>
    <div id="line3"></div>

    <div id="header">
      ${PAGE_TITLE}
    </div>

    % if trail:
    <% colors = ['dddddd', 'aaaaaa', '888888', '666666', '222222'] %>
    <div id="trail">
      <span style="color: black;">Page Trail:</span>
      [[
      % for i, page in zip(range(len(trail)), trail):
        <a style="color: #${colors[i]}" href="${page.url}">${page.title}</a>
        % if i != len(trail) - 1:
          &gt;
        % endif
      % endfor
      ]]
    </div>
    % endif

    <div id="menu">
      <ul>
        <li class="home"><a href="${URL_PREFIX}/">ongardie.net</a></li>
        <li><a href="${URL_PREFIX}/diego/">diego ongaro</a></li>
        <li>
            <a href="${URL_PREFIX}/blog/">blog</a>
            <a href="${URL_PREFIX}/blog/rss.xml"><img src="${VAR_URL_PREFIX}/blog/rss.png" style="margin: 0; padding: 0; border: 0" /></a>
        </li>
        <li><a href="${URL_PREFIX}/misc/">misc</a></li>
      </ul>
    </div>

    <div id="content">
      ${CONTENT}
      <div style="clear:both">&nbsp;</div>
    </div>

    <div id="footer">
      (c) 2007-2009 Diego Ongaro<br />
      hosted by <a href="http://www.etszone.com">ETSZONE</a>
    </div>

    % if GOOGLE_ANALYTICS_ACCOUNT:
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("${GOOGLE_ANALYTICS_ACCOUNT}");
pageTracker._trackPageview();
} catch(err) {}</script>
    % endif

  </body>

</html>
